{% load static %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'reservations/dashboard.css' %}">
</head>

<body>
    <div>
        <h1>Global daily occupancy<h1>
        
            <div>
                <span>Select date:</span>
                <div>
                    <input type="date" id="gdo_date">
                    <button onclick="loadGlobalDailyOccupancy()">Load</button>
                </div>
            </div>

            <div class="card">
                <div class="inner_card">
                    <p class="metric-row">Result: <span id="result"></span></p>
                </div>
            </div>
    </div>
</body>

<script>
    async function loadGlobalDailyOccupancy() {
        
        const gdo_date = document.getElementById("gdo_date").value;
        const url = `/api/dashboard2/`;

        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Error ${response.status}`);
            }
            const data = await response.json();
            console.log(data);
            document.getElementById("result").textContent = data.message;
        } catch (error) {
            console.error("ERROR:", error);
        }
    }
</script>