{% load static %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'reservations/dashboard.css' %}">
</head>

<body>
    <div>
        <h1>Global daily occupancy<h1>
        
            <div>
                <span>Select date:</span>
                <div>
                    <input type="date" id="gdo_date">
                    <button onclick="loadGlobalDailyOccupancy()">Load</button>
                </div>
            </div>

            <div class="card">
                <div class="inner_card">
                    <p class="metric-row">Result: <span id="gdo_result"></span></p>
                </div>
            </div>
    </div>
</body>

<script>
    async function loadGlobalDailyOccupancy() {
        
        const gdo_date = document.getElementById("gdo_date").value;

        try {
            const res = await fetch(`/api/dashboard2/global-daily-occupancy/?date=${gdo_date}`);
            const data = await res.json();
            console.log(data);
            document.getElementById("gdo_result").textContent = data.occupancy;
        } catch (error) {
            console.error("ERROR:", error);
        }
    }
</script>