{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1 class="text-center">Dashboard</h1>

    <div style="padding-bottom:30px;">
        <span>Select dates:</span>
        <div>
            <input type="date" id="start-date">
            <input type="date" id="end-date">
            <button onclick="loadDashboard()">Load</button>
        </div>
    </div>

    <div class="card">
        <h2>Period</h2>
        <div class="inner_card">
            <p class="metric-row">Start: <span id="start"></span></p>
            <p class="metric-row">End: <span id="end"></span></p>
            <p class="metric-row">Days: <span id="days"></span></p>
        </div>
    </div>

    <div class="card">
        <h2>Lifecycle</h2>
        <div class="inner_card">
            <p class="metric-row">Total reservations: <span id="total"></span></p>
            <p class="metric-row">Conversion rate: <span id="conversion"></span></p>
            <p class="metric-row">Expiration rate: <span id="expiration"></span></p>
        </div>
    </div>
    
    <div class="card">
        <h2>Occupancy</h2>
        <div class="inner_card">
            <p class="metric-row">Global utilization: <span id="utilization"></span></p>
        </div>
    </div>


    <div class="card">
        <h2>Top Rooms</h2>
            <ul id="top-rooms"></ul>
    </div>

    <div class="card">
        <h2>Hours per Room</h2>
        <ul id="hours-per-room"></ul>
        <canvas id="hoursChart"></canvas>
    </div>

    <div class="card">
        <h2>Utilization per Room</h2>
        <canvas id="utilizationChart"></canvas>
    </div>

    <div class="card">
        <h2>Best performing room</h2>
        <div class="inner_card_centered">
            <p id="best_room"></p>
        </div>
    </div>

    <div class="card">
        <h2>Most used timeslot</h2>
        <div class="inner_card">
            <p>Hour: <span id="most_used_time_slot_hour"></span></p>
            <p>Number of reservations: <span id="most_used_time_slot_reservations"></span></p>
        </div>
    </div>

    <div class="card">
        <h2>Heatmap</h2>
        <div id="heatmap"></div>
    </div>

<script>

let hoursChart = null;
let utilizationChart = null;

function loadDashboard() {

    const start = document.getElementById("start-date").value;
    const end = document.getElementById("end-date").value;

    fetch(`/api/dashboard/?start=${start}&end=${end}`)
        .then(res => res.json())
        .then(data => {

    // PERIOD
    document.getElementById("start").textContent = data.period.start;
    document.getElementById("end").textContent = data.period.end;
    document.getElementById("days").textContent = data.period.days;

    // LIFECYCLE
    document.getElementById("total").textContent =
    data.metrics.lifecycle.total_reservations;

    document.getElementById("conversion").textContent =
    data.metrics.lifecycle.conversion_rate;

    document.getElementById("expiration").textContent =
    data.metrics.lifecycle.expiration_rate;

    // OCCUPANCY
    document.getElementById("utilization").textContent =
    data.metrics.occupancy.global_utilization_percentage;

    // TOP ROOMS
    const roomsList = document.getElementById("top-rooms");
    roomsList.innerHTML = "";

    data.metrics.occupancy.top_3_rooms.forEach(room => {
    const li = document.createElement("li");
    li.textContent = room.name;
    roomsList.appendChild(li);
    });

    // HOURS PER ROOM
    const hoursList = document.getElementById("hours-per-room");
    hoursList.innerHTML = "";

    data.metrics.rooms.total_hours_per_room.forEach(room => {
    const li = document.createElement("li");
    li.textContent = `${room.room_name}: ${room.total_hours} hours`;
    hoursList.appendChild(li);
    });
    
    // HOURS PER ROOM CHART
    const roomNames = data.metrics.rooms.total_hours_per_room.map(r => r.room_name)
    const roomHours = data.metrics.rooms.total_hours_per_room.map(r => r.total_hours)

    if (hoursChart && typeof hoursChart.destroy === "function") {
    hoursChart.destroy()
    }

    const ctx1 = document.getElementById("hoursChart")
    hoursChart = new Chart(ctx1, {
    type: "bar",
    data: {
        labels: roomNames,
        datasets: [{
        label: "Hours",
        data: roomHours,
        backgroundColor: "rgba(75, 192, 192, 0.7)"
        }]
    }
    })

    // UTILIZATION PER ROOM
    const utilNames = data.metrics.rooms.utilization_per_room.map(r => r.room_name)
    const utilValues = data.metrics.rooms.utilization_per_room.map(r => r.utilization_percentage)

    if (utilizationChart && typeof utilizationChart.destroy === "function") {
    utilizationChart.destroy()
    }

    const ctx2 = document.getElementById("utilizationChart")
    utilizationChart = new Chart(ctx2, {
    type: "bar",
    data: {
        labels: utilNames,
        datasets: [{
        label: "Utilization %",
        data: utilValues,
        backgroundColor: "#FF6384"
        }]
    }
    })

    // Best room
    const bestRoom = data.metrics.rooms.best_performing_room;
    document.getElementById("best_room").textContent = bestRoom ? `🥇 ${bestRoom.name}` : "N/A";

    // most_used_time_slot
    document.getElementById("most_used_time_slot_hour").textContent = `${data.metrics.occupancy.most_used_time_slot.hour}h`;
    document.getElementById("most_used_time_slot_reservations").textContent = data.metrics.occupancy.most_used_time_slot.reservations;
    
    // room_heatmap
    function renderHeatmap(data) {
        const container = document.getElementById("heatmap");
        container.innerHTML = "";

        const days = Object.keys(data);

        container.appendChild(document.createElement("div"));

        for (let hour = 0; hour < 24; hour++) {
            const hourLabel = document.createElement("div");
            hourLabel.classList.add("label");
            hourLabel.textContent = hour;
            container.appendChild(hourLabel);
        }

        days.forEach(day => {

            const dayLabel = document.createElement("div");
            dayLabel.classList.add("label");
            dayLabel.textContent = day.charAt(0).toUpperCase() + day.slice(1);
            container.appendChild(dayLabel);
            container.classList.add("text-center");

            for (let hour = 0; hour < 24; hour++) {
                const value = data[day][hour] || 0;
                const cell = document.createElement("div");
                cell.classList.add("cell");
                const intensity = Math.min(value * 60, 255);
                cell.style.backgroundColor = `rgb(255, ${255 - intensity}, ${255 - intensity})`;
                cell.title = `${day} ${hour}:00 → ${value}`;
                container.appendChild(cell);
            }
        });
    }

    renderHeatmap(data.metrics.occupancy.room_heatmap);

    });
}

</script>

{% endblock %}